GOOGLE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/1w071SG71-xNygY0G2e2UGNmEN_orIyByf-44RdzyEz4/gviz/tq?tqx=out:csv&sheet=Sheet1
GOOGLE_SHEET_ID=1w071SG71-xNygY0G2e2UGNmEN_orIyByf-44RdzyEz4
GOOGLE_WORKSHEET_NAME=Sheet1
GOOGLE_SERVICE_ACCOUNT_JSON=
CURRENT_PERIOD=MAY-JUN
CACHE_TTL_SECONDS=300
FRONTEND_ORIGIN=http://127.0.0.1:3002
CHALLENGE_START_DATE=2026-05-08
CHALLENGE_END_DATE=2026-06-08
CHALLENGE_TIMEZONE=Asia/Hong_Kong
